body {
	margin: 0;
	background-color: #fafafa;
}

#main-nav {
	font-family: Myriad Pro, Helvetica, Arial, sans-serif;
	background-color: #000000;
  	color: #ffffff;
  	position: relative;
  	font-size: 30px; 
  	font-weight: 100;
  	letter-spacing: 1px;
  	width: 100%;
  	padding: 20px;
}

form{
	display: inline;
	width: 500px;
	margin: 40px;
}


.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
}
.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}
input[type=text]{
	color: #bcbcbc;
}
input[type=button], input[type=button]:hover {
	position:relative; 
	left:-6px;
	border:1px solid #adc5cf;
	background: #e4f1f9;
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
	color:#7da2aa;
	cursor: pointer;
}
.dark input[type=text]{
	border:1px solid #2a2e31;
	background-color:#2d3035;
	color:#505358;
}